---
import Image from 'astro/components/Image.astro';
import logoD from '../assets/img/AKlogo.webp';
import arrowR from '../assets/img/icon-black-long-arrow-right.svg';
import arrowCR from '../assets/img/icon-black-cheveron-right.svg';
---

<header class="site-header site-header--absolute is--white py-3" id="sticky-menu">
  <div class="global-container">
      <div class="flex items-center justify-between gap-x-8">
          <!-- Header Logo -->
          <a href="index.html" class="">
              <Image src={logoD} alt="AIMass" width="225" height="30" />
          </a>
          <!-- Header Logo -->

          <!-- Header Navigation -->
          <div class="menu-block-wrapper">
              <div class="menu-overlay"></div>
              <nav class="menu-block" id="append-menu-header">
                  <div class="mobile-menu-head">
                      <div class="go-back">
                          <Image class="dropdown-icon" src={arrowR}
                              alt="cheveron-right" width="16" height="16" />
                      </div>
                      <div class="current-menu-title"></div>
                      <div class="mobile-menu-close">&times;</div>
                  </div>
                  <ul class="site-menu-main">
                      <li class="nav-item nav-item-has-children">
                          <a href="#" class="nav-link-item drop-trigger">Demo
                              <Image class="dropdown-icon" src={arrowCR}
                                  alt="cheveron-right" width="16" height="16" /></a>
                          <ul class="sub-menu" id="submenu-1">
                              <li class="sub-menu--item">
                                  <a href="index.html">home 01</a>
                              </li>
                              <li class="sub-menu--item">
                                  <a href="index-2.html">home 02</a>
                              </li>
                              <li class="sub-menu--item">
                                  <a href="index-3.html">home 03</a>
                              </li>
                              <li class="sub-menu--item">
                                  <a href="index-4.html"> home 04</a>
                              </li>
                          </ul>
                      </li>
                      <li class="nav-item">
                          <a href="about.html" class="nav-link-item">About</a>
                      </li>
                      <li class="nav-item nav-item-has-children">
                          <a href="#" class="nav-link-item drop-trigger">Services
                            <Image class="dropdown-icon" src={arrowCR}
                                  alt="cheveron-right" width="16" height="16" /></a>
                          <ul class="sub-menu" id="submenu-2">
                              <li class="sub-menu--item">
                                  <a href="services.html">Services</a>
                              </li>
                              <li class="sub-menu--item">
                                  <a href="service-details.html">Service Details</a>
                              </li>
                          </ul>
                      </li>
                      <li class="nav-item nav-item-has-children">
                          <a href="#" class="nav-link-item drop-trigger">Pages
                            <Image class="dropdown-icon" src={arrowCR}
                                  alt="cheveron-right" width="16" height="16" /></a>
                          <ul class="sub-menu" id="submenu-3">
                              <li class="sub-menu--item nav-item-has-children">
                                  <a href="#" data-menu-get="h3" class="drop-trigger">blogs
                                    <Image class="dropdown-icon" src={arrowCR} alt="cheveron-right"
                                          width="16" height="16" /></a>
                                  <ul class="sub-menu shape-none" id="submenu-4">
                                      <li class="sub-menu--item">
                                          <a href="blog.html">blogs</a>
                                      </li>
                                      <li class="sub-menu--item">
                                          <a href="blog-details.html">blog details</a>
                                      </li>
                                  </ul>
                              </li>
                              <li class="sub-menu--item nav-item-has-children">
                                  <a href="#" data-menu-get="h3" class="drop-trigger">Team
                                    <Image class="dropdown-icon" src={arrowCR} alt="cheveron-right"
                                          width="16" height="16" />
                                  </a>
                                  <ul class="sub-menu shape-none" id="submenu-5">
                                      <li class="sub-menu--item">
                                          <a href="teams.html">Teams</a>
                                      </li>
                                      <li class="sub-menu--item">
                                          <a href="team-details.html">Teams Details</a>
                                      </li>
                                  </ul>
                              </li>
                              <li class="sub-menu--item nav-item-has-children">
                                  <a href="#" data-menu-get="h3" class="drop-trigger">FAQ
                                    <Image class="dropdown-icon" src={arrowCR} alt="cheveron-right"
                                          width="16" height="16" />
                                  </a>
                                  <ul class="sub-menu shape-none" id="submenu-6">
                                      <li class="sub-menu--item">
                                          <a href="faq.html">FAQ-1</a>
                                      </li>
                                      <li class="sub-menu--item">
                                          <a href="faq-2.html">FAQ-2</a>
                                      </li>
                                  </ul>
                              </li>
                              <li class="sub-menu--item nav-item-has-children">
                                  <a href="#" data-menu-get="h3" class="drop-trigger">Portfolio
                                    <Image class="dropdown-icon" src={arrowCR} alt="cheveron-right"
                                          width="16" height="16" />
                                  </a>
                                  <ul class="sub-menu shape-none" id="submenu-7">
                                      <li class="sub-menu--item">
                                          <a href="portfolio.html">Portfolio</a>
                                      </li>
                                      <li class="sub-menu--item">
                                          <a href="portfolio-details.html">Portfolio Details</a>
                                      </li>
                                  </ul>
                              </li>
                              <li class="sub-menu--item">
                                  <a href="pricing.html" data-menu-get="h3" class="drop-trigger">Pricing
                                  </a>
                              </li>

                              <li class="sub-menu--item nav-item-has-children">
                                  <a href="#" data-menu-get="h3" class="drop-trigger">Utilities
                                    <Image class="dropdown-icon" src={arrowCR} alt="cheveron-right"
                                          width="16" height="16" />
                                  </a>
                                  <ul class="sub-menu shape-none" id="submenu-8">
                                      <li class="sub-menu--item">
                                          <a href="error-404.html">Error 404</a>
                                      </li>
                                      <li class="sub-menu--item">
                                          <a href="login.html">Login</a>
                                      </li>
                                      <li class="sub-menu--item">
                                          <a href="signup.html">Signup</a>
                                      </li>
                                      <li class="sub-menu--item">
                                          <a href="reset-password.html">Reset Password</a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li class="nav-item">
                          <a href="contact.html" class="nav-link-item">Contact</a>
                      </li>
                  </ul>
              </nav>
          </div>
          <!-- Header Navigation -->

          <!-- Header User Event -->
          <div class="flex items-center gap-6">
              <a href="login.html"
                  class="button hidden rounded-[50px] border-[#7F8995] bg-transparent text-black after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white lg:inline-block">Login</a>
              <a href="signup.html"
                  class="button hidden rounded-[50px] border-black bg-black text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white lg:inline-block">Sign
                  up free</a>
              <!-- Responsive Offcanvas Menu Button -->
              <div class="block lg:hidden">
                  <button id="openBtn" class="hamburger-menu mobile-menu-trigger">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
              </div>
          </div>
          <!-- Header User Event -->
      </div>
  </div>
</header>
